doctype html
html(lang='es')
  head
    title Chat
    link(rel='stylesheet' href='chat.css')
    <!--meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scable=no')-->
    meta(charset='utf-8')
  body
    .chat-container
      ul#messages
      form#form(action='')
        input#m(autocomplete='off')
        button

    script(src='chat.js')
